extends layout

block content
  body.example
    div(class="example-container")
      div(class="iphone")
        iframe(src="/mobile/", width="320", height="548", frameborder="0", scrolling="no")
  script.
    $(function() {
      if ($(window).width() < 800) {
        window.location = "/mobile";
      }
    });


