doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")

    title= title
    script(type="text/javascript" src="//use.typekit.net/uib2dwz.js")
    script(type="text/javascript").
        try{Typekit.load();}catch(e){}
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootflat.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src="/js/underscore-min.js")
    script(src='/js/utils.js')
  block content