.nav-bar
  background-color: $pomocBlue
  height: 44px
  position: absolute
  text-align: center
  top: 0
  width: 100%
  
  h1
    color: #fff
    font-size: 16px
    line-height: 44px
    margin: 0

.media.chat-item
  border-bottom: 1px solid $gray
  padding: 10px
  .badge
    margin-right: 10px

.chat-messages
  height: calc(100% - 88px)
  overflow-y: scroll
  padding: 5px
  position: absolute
  top: 44px
  width: 100%
  .help-text
    color: $gray
    font-size: 12px
    font-weight: 300
    margin: 10px 0
    text-align: center
    .welcome
      font-weight: 500    

.media
  margin-top: 5px
  padding: 5px
  .media-object
    border-radius: 32px
    width: 48px
  .chat-message
    font-weight: 300

.media.right-side
  .pull-left
    float: right !important
    margin-right: 0
    margin-left: 10px
  .media-body
    text-align: right

.message-input
  background-color: $lightGray
  border-top: 1px solid $gray
  bottom: 0
  padding: 5px
  position: absolute
  width: auto