@import variables
@import chat

body, html
  height: 100%
  width: 100%

.dashboard
  .page-container
    height: 100%
    padding-right: 15px
    width: 100%
    .row
      height: 100%
    .main-col
      height: 100%;
      padding: 0
    .menu-col
      background-color: $darkestGray
    .chats-col
      border-right: 1px solid $gray
      .existing-chats
        border-bottom: 1px solid $gray


