@import variables
@import chat

body, html
  height: 100%
  width: 100%

.dashboard
  min-width: 1024px
  .page-container
    height: 100%
    padding-right: 15px
    width: 100%
    .row
      height: 100%
    .main-col
      display: inline-block
      float: left
      height: 100%
      padding: 0

    .menu-col
      background-color: $darkestGray
      width: 8%
      .menu-item
        cursor: pointer
        height: 80px
        margin: 10px 0
        padding-left: 10px
        text-align: center
        &.menu-thumbnail
          margin: 30px auto
          text-align: center
          img
            border: 2px solid $pomocBlue
            border-radius: 100px
            display: inline-block
            width: 60%
          h2
            font-weight: 500
        .fa
          color: $lightGray
          font-size: 2.5em
        h2, h3
          color: $gray
          font-size: 12px
          font-weight: 300
          margin-top: 5px
        &:hover
          .fa, h3
            color: $pomocBlue


    .chats-col
      border-right: 1px solid $gray
      width: 40%
      .existing-chats
        border-bottom: 1px solid $gray

    .chat-messages-col
      position: relative
      width: 52%
      .screenshot-btn
        background-color: transparent
        border: 1px solid #fff
        height: 36px
        margin: 4px
        padding: 5px
        position: absolute
        right: 0
        top: 0
        width: 36px
        &:hover
          border-color: $pomocDarkBlue
          color: $pomocDarkBlue

    .no-convo
      color: $gray
      font-size: 16px
      font-weight: 300
      padding-top: 100px
      text-align: center
      .fa
        font-size: 10em

    .carousel
      -moz-box-shadow:    0 0 15px 0 $darkestGray
      -webkit-box-shadow: 0 0 15px 0 $darkestGray
      box-shadow:         0 0 15px 0 $darkestGray
      margin: 0 auto
      width: 320px
      .fa
        position: absolute
        top: 50%
      .fa-chevron-left
        left: 10px
      .fa-chevron-right
        right: 10px
