@import variables
@import chat

body, html
  height: 100%
  width: 100%

.mobile
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  height: 100%
  position: relative
  width: 100%
  .modal
    .modal-body
      h5 
        text-align: center
    .modal-footer
      padding: 19px 15px 20px
    &.in .modal-dialog
      -webkit-transform: translate(0, 120px)
      transform: translate(0, 120px)