body.example {
  background: radial-gradient(circle at center, #25a9db, #0e5069);
}
.iphone {
  background: url("/img/iphone.png");
  width: 381px;
  height: 800px;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  position: relative;
  margin: 25px auto;
  box-shadow: 20px 20px 5px -10px #0e5069;
  border-radius: 60px;
}
.iphone iframe {
  position: absolute;
  width: 320px;
  height: 548px;
  left: 50%;
  margin-left: -158px;
  top: 138px;
}
