@import variables

body.gradient 
  background: radial-gradient(circle at center,#25a9db,#0e5069);


.iphone
  background: url('/img/iphone.png');
  width: 381px;
  height: 800px;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  position: relative;
  margin: 25px auto;
  box-shadow: 20px 20px 5px -10px #0e5069;
  border-radius: 60px;
  iframe
    position: absolute;
    width: 320px;
    height: 548px;
    left: 50%;
    margin-left: -158px;
    top: 138px;

.login-container
  margin: 0 auto
  margin-top: 50px
  text-align: center
  width: 320px
  .logo
    width: 240px
  .login-group
    margin-top: 40px
  button, input
    border-radius: 0
    font-weight: 300

  input
    background-color: transparent
    border: 2px solid #fff
    color: #fff
    font-size: 16px    
    margin-bottom: 20px
    padding: 20px 10px

  ::-webkit-input-placeholder
    color: $placeholder

  :-moz-placeholder /* Firefox 18- */
    color: $placeholder

  ::-moz-placeholder /* Firefox 19+ */
    color: $placeholder  

  :-ms-input-placeholder
    color: $placeholder